// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Exo:300,300i,400,400i,700&display=swap");

// Define fonts for body and headers
$body-font: "Exo", sans-serif;
$headers-font: "Exo", sans-serif;

h1 {
  font-weight: bold;
  line-height: 74px;
  letter-spacing: 0.1em;
}

h2 {
  font-weight: normal;
  line-height: 48px;
}

h3 {
  font-weight: normal;
  line-height: 37px;
}

p {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

a {
  font-family: "Exo", sans-serif;
  font-weight: normal;
  font-size: 18px;
}
// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
