.search-index {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  margin: 80px 15px 15px 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav-no-log {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.nav-no-log-with-scroll {
  background: black;
  border: 20px solid black;
  transition: 1s ease;
  margin-top: 0px !important;
}
