// Specific CSS for your home-page
.home-background {
  background-image: url(https://images.unsplash.com/photo-1431324155629-1a6deb1dec8d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  background-position: 45% 0px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#homepage-log-in-btn {
  float: right;
  margin-top: 23px;
  margin-right: 31px;
}

#footy-homepage {
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 82px;
  text-align: center;
}

#value-prop {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding-top: 62px;
}

#search-phrase {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding-top: 30px;
  padding-bottom: 15px;
}

#submit-wrapper {
  text-align: center;
  #go-solid-btn-homepage {
    border: none;
  }
}

#homepage-sign-up-btn {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.ap-dataset-places {
  color: rgba(255, 255, 255, 0.9);
}

.ap-dropdown-menu {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 0px 0px 15px 15px;
  border-bottom: 1px solid white;
}

.ap-cursor {
  background-color: rgba(255, 255, 255, 0.2);
  color: $solid-btn-green;
  .ap-address {
    color: $solid-btn-green;
  }
}

.ap-footer {
  display: none;
}

.ap-suggestion-icon {
  display: none;
}
