<div
  id="map"
  style="width: 100%;
  height: 300px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>

<% @groups.each do |group| %>
  <%= render "card", group: group %>
  <%= link_to "Show Group", group %>
<% end %>
