


<div class="card-field">

  <img src="http://asmav.org/wp-content/uploads/2019/03/terrain-de-football-but-eclairage-nuit-196194.jpg" />

  <div class="card-info">


    <div class="card-primary-infos">
      <h3>Estadio da Luz</h3>
      <p>Avenida Soares Monteiro, n°12, Lisboa</p>
    </div>

    <div class="card-segundary-infos">
      <p>Field Size: 11 vs 11</p>
      <p>Field type: Grass</p>
      <ul>
        <li style="color:green;" ><i class="fas fa-parking"></i></li>
        <li><i class="fas fa-shower"></i></li>
        <li><i class="fas fa-home"></i></li>
      </ul>
    </div>

  </div>
</div>
