<div class="home-background">
  <% if user_signed_in? %>
    <%= render "/shared/navbar" %>
  <% else %>
    <%= link_to "LOG IN", new_user_session_path, class: "log-in-btn", id: "homepage-log-in-btn" %>
  <% end %>

  <% if user_signed_in? %>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  <% else %>
    <h1 id="footy-homepage">FOOTY</h1>
  <% end %>

  <h3 id="value-prop">Meet new People.<br>Play Football.</h3>
  <p id="search-phrase">Search for a field, a time, and play!</p>

  <%= render "/shared/search_form" %>

  <%= link_to "Sign Up!", new_user_registration_path, class: "sign-up-btn", id: "homepage-sign-up-btn" %>
</div>

