.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.lg-avatar {
  width: 192px;
  height: 192px;
  border-radius: 50%;
}

.md-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
