.log-in-btn {
  color: white;
  &:hover {
    color: white;
  }
}

.sign-up-btn {
  padding: 8px 16px;
  border-radius: 15px;
  background-color: $smooth-btn-green;
}

.solid-btn {
  padding: 8px 80px;
  border-radius: 15px;
  background-color: $solid-btn-green;
}

.edit-field-btn {
  padding: 8px 16px;
  background: lightgray;
  color: black;
  border-radius: 15px;
}

.delete-field-btn {
  padding: 8px 16px;
  background: indianred;
  color: black;
  border-radius: 15px;
}
