.cancellation-btn {
  padding: 8px 50px;
  border-radius: 15px;
  background-color: $solid-btn-green;
}

.close-btn {
  padding: 8px 16px;
  border-radius: 15px;
  background-color: $smooth-btn-green;
  border: none;
  color: $solid-btn-green;
}

.modal-dialog{
    overflow-y: initial !important
}

.modal-body{
    max-height: 450px;
    overflow-y: auto;
}
