.form-control {
  color: rgb(101, 116, 125);
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 0px 0px 15px 15px;
  border-bottom: 1px solid white;
  text-align: center;
  &:focus {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 0px 0px 15px 15px;
    border-bottom: 1px solid white;
    text-align: center;
  }
}

input[type="date"]::before,
input[type="time"]::before {
  content: attr(placeholder);
  width: 100%;
  color: grey;
}
​
input[type="date"]:valid::before,
input[type="time"]:valid::before {
  display: none;
}
