.card-contain {
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
}
.group-index-card {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 5px 5px 3px #000000;
  padding: 5px 15px 5px 15px;
}

.green {
  color: $solid-btn-green;
}

.gray {
  color: lightgray;
}

.bold {
  font-weight: bold;
}

.stadium {
  img {
    position: absolute;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    box-shadow: 0px 5px 3px #000000;
  }
}

.bord-left {
  border-left: 1px solid white;
  padding-left: 10px !important;
}

.price-group-card {
  float: left;
}

.members-p {
  padding-left: 15px;
}

.location-search-group-card {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.hover-more-info {
  position: absolute;
  z-index: 10;
  background: rgba(0,0,0,0.3);
  width: 100%;
  height: 100%;
  justify-content: center;
}

.hover-display-none {
  display: none;
}

.hover-display {
  display: flex;
}
