.shadow-round {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  margin-right: 15px;
  margin-left: 15px;
}

.yellow {
  color: #fcd307;
}

.small-font {
  p {
    font-size: 14px;
  }
  i {
    font-size: 12px;
  }
}

.mess-cont {
  max-height: calc(100vh - 285px - 45px - 61px - 30px);
  overflow: scroll;
}

.message {
  &.right {
    flex-direction: row-reverse;
  }
}

.no-bord input {
  margin-top: 10px;
  border: none;
  padding: 30px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 15px;
  &:focus {
    border: none;
    padding: 30px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 15px;
  }
}

#send-message-btn {
  padding: 8px 66px !important;
  border-radius: 15px !important;
  background-color: rgba(206, 255, 26, 0.26) !important;
  color: $solid-btn-green;
  margin-top: -15px;
}

.message-content {
  justify-content: flex-end;
  padding-right: 62px;
  margin-bottom: 15px;
  p {
    padding: 2px 10px 2px 10px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
  }
}
