.rating-div {
  justify-content: center;
  display: flex;
  select {
    color: rgba(255,255,255,0.8);
    border: none;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.4);
    margin-bottom: -20px;
    &:focus {
      border: none;
      border-radius: 15px;
      margin-bottom: -20px;
    }
  }
}

.review-desc-div {
  ::placeholder {
    color: rgba(255,255,255,0.8);
  }
  textarea {
    margin-top: 10px;
    border: none;
    padding: 30px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 15px;
    line-height: 0px;
    &:focus {
      margin-top: 10px;
      border: none;
      padding: 30px;
      background: rgba(255, 255, 255, 0.4);
      border-radius: 15px;
      line-height: 30px;
    }
  }
}
