<%= render "/shared/navbar" %>
<div style="padding-top: 100px; padding-bottom: 10px;">
  <h2 class="text-center">MY FIELDS</h2>
</div>
<div class="d-flex justify-content-center mb-4">
  <%= link_to "Add new field", new_field_path, class: "solid-btn edit-profile-btn" %>
</div>

<%= render "/shared/search-cards" %>
