<h1>Fields#show</h1>
<p>Find me in app/views/fields/show.html.erb</p>
<%= @field.name %>
<%= link_to "My Fields", fields_path %>
<%= link_to "Upadte Field", edit_field_path(@field) %>
<%= link_to "Delete Field", field_path(@field), method: :delete, data: { confirm: "Are you sure you want to delete this field?"} %>
